# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
    use flake --impure
fi

# Create a Python environment
layout python

# Add well known WSL CUDA library
export LD_LIBRARY_PATH="/usr/lib/wsl/lib${LD_LIBRARY_PATH:+:}$LD_LIBRARY_PATH"

# Add well known 64bits OpenGL library
export LD_LIBRARY_PATH="/run/opengl-drivers/lib${LD_LIBRARY_PATH:+:}$LD_LIBRARY_PATH"

# Add well known 32bits OpenGL  library
export LD_LIBRARY_PATH="/run/opengl-drivers-32/lib${LD_LIBRARY_PATH:+:}$LD_LIBRARY_PATH"
